---
import Layout from "layouts/Layout.astro";
import { contentfulClient } from "lib/contentful";

const projects = await contentfulClient.getEntries({
  content_type: "project",
  order: "-fields.sort",
});
---

<Layout title="Projects" description="This is a description for projects page" image="/favicon-dark.svg">
  <article class="prose prose-violet dark:prose-invert max-w-none">
    <h1>Projects</h1>
    <ul class="grid gap-6 p-0 list-none md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
      {
        projects.items.map((project) => (
          <li class="grid gap-4 p-0 m-0 bg-gray-900 border border-gray-800 rounded-lg">
            <img
              src={project.fields.screenshot.fields.file.url}
              width={project.fields.screenshot.fields.file.details.image.width}
              height={project.fields.screenshot.fields.file.details.image.height}
              alt=""
              class="object-cover object-center m-0 rounded-t-lg mix-blend-luminosity"
            />
            <div class="grid gap-4 px-4 pb-4 m-0">
              <div class="flex flex-wrap gap-2">
                {project.fields.technologies.map((technology) => (
                  <span class="px-2 py-1 text-xs bg-gray-800 rounded-lg">{technology}</span>
                ))}
              </div>
              <h2 class="mt-0">{project.fields.title}</h2>
              <h3>{project.fields.description}</h3>
              <a href={project.fields.githubUrl}>Github</a>
              <a href={project.fields.demoUrl}>Demo</a>
            </div>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>
