---
import { defaultLang, languages } from "@/i18n/ui";
import { getLang } from "@/i18n/utils";
import { focusRing, hoverSquare } from "@/lib/tailwind";
import { cn, directionByIndex } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const { url } = Astro;
const lang = getLang(url);

const { pathname } = url;

const socialLinks = await getCollection("social-link", ({ id }) => id.startsWith(lang));
const socialLinksSorted = socialLinks.sort((a, b) => a.data.sort - b.data.sort);
---

<footer class="flex flex-col items-center justify-center gap-3 sm:col-span-2 sm:flex-row sm:justify-between">
  <p class="text-sm">2023 &copy; Jakub Soboczyński</p>
  <ul class="flex gap-3">
    {
      Object.keys(languages).map((language, index) => (
        <li>
          <a
            class={cn(
              "flex h-9 w-9 items-center justify-center rounded-lg transition sm:h-10 sm:w-10",
              hoverSquare(directionByIndex(index)),
              {
                "before:translate-x-0 before:translate-y-0 before:scale-100": lang === language,
              },
              focusRing,
            )}
            href={
              language === defaultLang
                ? pathname.replace(`/${lang}`, "")
                : pathname.startsWith(`/${lang}`)
                  ? pathname.replace(/\w+/, language)
                  : `/${language}${pathname}`
            }
            aria-label={language}
          >
            {language.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>
  <ul class="flex gap-3">
    {
      socialLinksSorted.map(({ data: socialLink }, index) => (
        <li>
          <a
            class={cn(
              "flex h-9 w-9 items-center justify-center rounded-lg transition sm:h-10 sm:w-10",
              hoverSquare(directionByIndex(index)),
              focusRing,
            )}
            href={socialLink.link}
            target={socialLink.newTab ? "_blank" : "_self"}
            aria-label={socialLink.alt}
          >
            <Icon name={socialLink.icon} class="h-5 w-5 sm:h-6 sm:w-6" />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
